//- index.jade
extends ./layout

block content
  include parts/header

  div.section.red.lighten-2.white-text
    div.container
      div.row
        div.col.s12.m6.center
          br 
          img.img-guide(src='images/logo.png', width='300px')
        div.col.s12.m6
          br 
          br 
          br 
          p.center.large Let's start game programming
          p.center さぁ, 一緒にゲームプログラミングを始めよう!!
          br 
          p.center
            a.btn-large.waves-effect.waves-light.white.blue-text(href='/download') Getting Started

  div.section
    div.container
      div.row
        div.col.s12.m12.center
          br 
          br 
          br 
          br 
          h3 About
          br 
          ul
            li - アイディアを即座に形にできるゲームライブラリです
            li - 初心者でも手軽にゲームを開発できます
            li - 様々な Web コンテンツ, アプリで多数の採用実績があります
            li - 大学や専門学校といった教育機関で利用されています
            li - 国産かつオープンソースでTwitter 駆動開発なので気軽にコントリビューターになれます
          br 
          button.btn.blue.lighten-1(class="sharer" data-sharer="twitter" data-title='#{title} - #{description}' data-url="#{url}") Twitter
          | 
          button.btn.indigo.darken-1(class="sharer" data-sharer="facebook" data-title='#{title} - #{description}' data-url="#{url}") Facebook
          | 
          button.btn.red.darken-1(class="sharer" data-sharer="googleplus" data-title='#{title} - #{description}' data-url="#{url}") Google Plus
          br 
          br 
          br 

  div.section.yellow.darken-3.white-text
    div.container
      div.row
        div.col.s12.m6.center
          br 
          br 
          br 
          h3 phina.js って何？
          p ゲームやツールを簡単に作る事ができる JavaScript ゲームライブラリだよ♪
          p PC とスマートフォンどちらでも動くんだ
          p 『プログラミングって気軽にできるもんなんだ』『ゲームってこんなに簡単に作れるんだ』って感じてもらえると嬉しいな
        div.col.s12.m6.center
          br 
          img.img-guide(src='images/mikan.png')

  div.section
    div.container
      div.row
        div.col.s12.m12
          br 
          br 
          h3.center Getting Started
          p.center
            | 使い方は, phina.js を読み込むだけです. これで phina.js の全機能を使えるようになります.
            | 下記は最小サンプルになります.<br />
            | また, テンプレートを<a href='/download'>ダウンロード</a>して使ったり, <a href='http://goo.gl/cTVlvD'>Runstant</a> で今すぐに使いはじめることもできます.
          div.row
            div.col.s12.m7
              h5 index.html
              pre
                code= template.html

            div.col.s12.m5
              h5 main.js
              pre
                code= template.js
          //- div.
          //-   <div class='runstant'><iframe src='http://goo.gl/x9oSch' width='100%' height='640px' style='border:0px;box-shadow:0px 0px 2px 0px #aaa'></iframe></div>
          br 
          br 

  div.section.green.lighten-2.white-text
    div.container
      div.row
        div.col.s12.m6.center
          br 
          img.img-guide(src='images/takenoko.png')
        div.col.s12.m6.center
          br 
          br 
          br 
          h3 かんたんに使えるよ♪
          p phina.js は初心者から上級者まで幅広く使えるライブラリだよ
          p ファイルを読み込むだけで使えるようになるから, Runstant で今すぐ始められるよ.

          a.btn.waves-effect.waves-light.white.blue-text(href='http://goo.gl/cTVlvD') Runstant

  div.section
    div.container
      div.row
        div.col.s12.m4.center
          br 
          br 
          h2.center
            i.material-icons.large flash_on
          h3 Tutorial
          p ブログ『<a href='http://phairy.me'>phiary.me</a>』 にて随時更新中...
          br 
          a.btn.waves-effect.waves-light(href='http://phiary.me') Blog
        div.col.s12.m4.center
          br 
          br 
          h2.center
            i.material-icons.large insert_drive_file
          h3 Documents
          p api ドキュメントは <a href='/docs'>こちら</a>.
          p 鋭意作成中...  
          br 
          a.btn.waves-effect.waves-light(href='/docs') Docs
        div.col.s12.m4.center
          br 
          br 
          h2.center
            i.material-icons.large group
          h3 Community
          p コミュニティは <a href='https://gitter.im/phi-jp/phina.js'>gitter</a> にて活発にやり取りを行っています.
          p みんな優しいので気軽に覗いてコメントや質問してみてください.
          br 
          a.btn.waves-effect.waves-light(href='https://gitter.im/phi-jp/phina.js') Gitter

  div.section.blue.lighten-3.white-text
    div.container
      div.row
        div.col.s12.m12.center
          br 
          br 
          h3 Examples
          p サンプルたくさんあるよ♪
          div#examples.examples
            div.box(v-for='item in items', :data-title='item.title')
              a(:href='item.url', target='_blank')
                img(:src='item.img')
      div.row
        div.col.s4.m4.center
          img.img-guide-mini(src='images/suika.png')
        div.col.s4.m4.center
          br
          img.img-guide-mini(src='images/burokkori.png')
        div.col.s4.m4.center
          img.img-guide-mini(src='images/nasubi.png')

  div.section
    div.container
      div.row
        div.col.s12.m12.center
          br 
          br 
          h3 たくさんのひとが協力, 応援してくれてるよ. みんなで大きくしていけると良いなぁ〜
      div.row
        div.col.s12.m12.center
          img(src='images/hiyokos.png')

  include parts/footer



  script.
    hljs.initHighlightingOnLoad();

    var examples = new Vue({
      el: '#examples',
      data: {
        items: [
          {
            title: 'Hello, phina.js!',
            url: 'http://goo.gl/333ikj',
            img: 'https://www.evernote.com/l/AOJkphKKDAlMq4x1AX103BAW7DizA-U9YvYB/image.png'
          },
          {
            title: 'Circle',
            url: 'http://goo.gl/nv3SEb',
            img: 'https://www.evernote.com/l/AOJtA7a5wj1Fjq3B0JUTlaWyD1meTizEuxQB/image.png'
          },
          {
            title: 'Pursuit',
            url: 'http://goo.gl/fkvpmW',
            img: 'https://www.evernote.com/l/AOJRdQwNiuVNUYqOGsIFA9r6Maby62v_LPwB/image.png'
          },
          {
            title: 'Particle',
            url: 'http://goo.gl/NspxB7',
            img: 'https://www.evernote.com/l/AOJ4ppIIpv9Nb7HSTB0KR1SbnigSFkpEicsB/image.png'
          },
          {
            title: 'Walk Tomapiko',
            url: 'http://goo.gl/TBX4Fl',
            img: 'https://www.evernote.com/l/AOIFlFUo-f1N4JCUeJL0ZtVZ9Qki6ISsZ8cB/image.png'
          },

          {
            title: 'Touch game',
            url: 'http://goo.gl/95J9W5',
            img: 'https://www.evernote.com/l/AOJA8UimvGFI4IYaQaOPwMoLC9xvduFL7aUB/image.png'
          },
          {
            title: 'Breakout',
            url: 'http://goo.gl/PAZYR5',
            img: 'https://www.evernote.com/l/AOLl02ZTIwNCtZJp3MfPQmog_ONy1WQ9JowB/image.png'
          },
          {
            title: 'Flappy',
            url: 'http://runstant.com',
            img: 'https://www.evernote.com/l/AOLSfneLkABPI6gOxeYorqhYUXr1NbkoqgsB/image.png'
          },
          {
            title: 'Typing',
            url: 'http://goo.gl/fdqINW',
            img: 'https://www.evernote.com/l/AOLFrwDEmuFIV6O2SRKG3_zUMAYS4XrGOAgB/image.png'
          },
        ]
      }
    });




